The clean data from Step 1 has been exported to a CSV file named **filtered_loans_2007.csv**. 

In this step, we will prepare the data for machine learning by focusing on handling missing values, converting categorical columns to numeric columns, and removing any other extraneous columns we encounter.

In [1]:
import pandas as pd

loans = pd.read_csv('filtered_loans_2007.csv')
null_counts = loans.isnull().sum()
print(null_counts)

loan_amnt                  0
term                       0
int_rate                   0
installment                0
emp_length              1036
home_ownership             0
annual_inc                 0
verification_status        0
loan_status                0
purpose                    0
title                     11
addr_state                 0
dti                        0
delinq_2yrs                0
earliest_cr_line           0
inq_last_6mths             0
open_acc                   0
pub_rec                    0
revol_bal                  0
revol_util                50
total_acc                  0
last_credit_pull_d         2
pub_rec_bankruptcies     697
dtype: int64

# Handling missing values

While most of the columns have 0 missing values, 2 columns have 50 or less rows with missing values, and 1 column, pub_rec_bankruptcies, contains 697 rows with missing values. Let's remove columns entirely where more than 1% of the rows for that column contain a null value. In addition, we'll remove the remaining rows containing null values.

We will keep the following columns and just remove rows containing missing values for them:
title  
revol_util  
last_credit_pull_d  
and drop the pub_rec_bankruptcies column entirely since more than 1% of the rows have a missing value for this column.  

Let's use the strategy of removing the pub_rec_bankruptcies column first then removing all rows containing any missing values at all to cover both of these cases. This ensure, we only remove the rows containing missing values for the title and revol_util columns but not the pub_rec_bankruptcies column.

In [4]:
loans = loans.drop("pub_rec_bankruptcies", axis=1)
loans = loans.dropna(axis=0)
print(loans.dtypes.value_counts())

object     11
float64    10
int64       1
dtype: int64

In [6]:
print(loans.isnull().sum())

loan_amnt              0
term                   0
int_rate               0
installment            0
emp_length             0
home_ownership         0
annual_inc             0
verification_status    0
loan_status            0
purpose                0
title                  0
addr_state             0
dti                    0
delinq_2yrs            0
earliest_cr_line       0
inq_last_6mths         0
open_acc               0
pub_rec                0
revol_bal              0
revol_util             0
total_acc              0
last_credit_pull_d     0
dtype: int64

# Text columns

While the numerical columns can be used natively with scikit-learn, the object columns that contain text need to be converted to numerical data types.

In [7]:
object_columns_df = loans.select_dtypes(include=["object"])
print(object_columns_df.iloc[0])

term                     36 months
int_rate                    10.65%
emp_length               10+ years
home_ownership                RENT
verification_status       Verified
purpose                credit_card
title                     Computer
addr_state                      AZ
earliest_cr_line          Jan-1985
revol_util                   83.7%
last_credit_pull_d        Jun-2016
Name: 0, dtype: object

# Converting text columns

Some of the columns seem like they represent categorical values, but we should confirm by checking the number of unique values in those columns:

home_ownership: home ownership status, can only be 1 of 4 categorical values according to the data dictionary,  
verification_status: indicates if income was verified by Lending Club,  
emp_length: number of years the borrower was employed upon time of application,  
term: number of payments on the loan, either 36 or 60,  
addr_state: borrower's state of residence,  
purpose: a category provided by the borrower for the loan request,  
title: loan title provided the borrower,  

There are also some columns that represent numeric values, that need to be converted:
int_rate: interest rate of the loan in %,  
revol_util: revolving line utilization rate or the amount of credit the borrower is using relative to all available credit, read more here.  
Based on the first row's values for purpose and title, it seems like these columns could reflect the same information. Let's explore the unique value counts separately to confirm if this is true.  

Lastly, some of the columns contain date values that would require a good amount of feature engineering for them to be potentially useful:
earliest_cr_line: The month the borrower's earliest reported credit line was opened,  
last_credit_pull_d: The most recent month Lending Club pulled credit for this loan.  
Since these date features require some feature engineering for modeling purposes, let's remove these date columns from the Dataframe.

In [10]:
loans = loans.drop('earliest_cr_line', axis=1)
# last_credit_pull_d was already drooped from the drop null task above

# First 5 categorical columns

Let's explore the unique value counts of the columnns that seem like they contain categorical values.

In [11]:
cols = ['home_ownership', 'verification_status', 'emp_length', 'term', 'addr_state']
for c in cols:
    print(loans[c].value_counts())

RENT        18112
MORTGAGE    16686
OWN          2778
OTHER          96
NONE            3
Name: home_ownership, dtype: int64
Not Verified       16281
Verified           11856
Source Verified     9538
Name: verification_status, dtype: int64
10+ years    8545
< 1 year     4513
2 years      4303
3 years      4022
4 years      3353
5 years      3202
1 year       3176
6 years      2177
7 years      1714
8 years      1442
9 years      1228
Name: emp_length, dtype: int64
 36 months    28234
 60 months     9441
Name: term, dtype: int64
CA    6776
NY    3614
FL    2704
TX    2613
NJ    1776
IL    1447
PA    1442
VA    1347
GA    1323
MA    1272
OH    1149
MD    1008
AZ     807
WA     788
CO     748
NC     729
CT     711
MI     678
MO     648
MN     581
NV     466
SC     454
WI     427
OR     422
LA     420
AL     420
KY     311
OK     285
KS     249
UT     249
AR     229
DC     209
RI     194
NM     180
WV     164
HI     162
NH     157
DE     110
MT      77
AK      76
WY      76
SD      60
VT      53
MS      19
TN      17
IN       9
ID       6
NE       5
IA       5
ME       3
Name: addr_state, dtype: int64

# The reason for the loan

The home_ownership, verification_status, emp_length, term, and addr_state columns all contain multiple discrete values. We should clean the emp_length column and treat it as a numerical one since the values have ordering (2 years of employment is less than 8 years).

First, let's look at the unique value counts for the purpose and title columns to understand which column we want to keep.

In [12]:
print(loans["purpose"].value_counts())
print(loans["title"].value_counts())

debt_consolidation    17751
credit_card            4911
other                  3711
home_improvement       2808
major_purchase         2083
small_business         1719
car                    1459
wedding                 916
medical                 655
moving                  552
house                   356
vacation                348
educational             312
renewable_energy         94
Name: purpose, dtype: int64
Debt Consolidation                                                             2068
Debt Consolidation Loan                                                        1599
Personal Loan                                                                   624
Consolidation                                                                   488
debt consolidation                                                              466
Credit Card Consolidation                                                       345
Home Improvement                                                                336
Debt consolidation                                                              314
Small Business Loan                                                             298
Credit Card Loan                                                                294
Personal                                                                        290
Consolidation Loan                                                              250
Home Improvement Loan                                                           228
personal loan                                                                   219
Loan                                                                            202
Wedding Loan                                                                    199
personal                                                                        198
Car Loan                                                                        188
consolidation                                                                   186
Other Loan                                                                      168
Wedding                                                                         148
Credit Card Payoff                                                              144
Credit Card Refinance                                                           140
Major Purchase Loan                                                             131
Consolidate                                                                     124
Medical                                                                         111
Credit Card                                                                     110
home improvement                                                                101
Credit Cards                                                                     91
My Loan                                                                          90
                                                                               ...
Grad Student Debt Consolidation                                                   1
Invest in an entrepreneur!                                                        1
digging out by 2014                                                               1
High Rate Bank Loan                                                               1
Pharmacy School Entrance                                                          1
Debt Consolidation and Medical Bills                                              1
MEDICAL AND TAXES                                                                 1
Ditching Debt                                                                     1
bath room                                                                         1
Payment                                                                           1
I am very reliable!                                                               1
Mom's new roof                                                                    1
Credit Card consolodation                                                         1
Paradise Vacation package                                                         1
Bye bye high interest                                                             1
Secondhand car purchase w/o using cash                                            1
CC_Refi                                                                           1
Coffee Shop on busy Seattle Street                                                1
Community Center                                                                  1
Payoff 2 credit cards totaling $10,000.0                                          1
Safety Net                                                                        1
pay off 4300 on card and 4500 to pay off 2008 Hyndai Sonata and get married       1
Help me consolidate debt so that I can start my own practice                      1
Big Pay Down                                                                      1
Debt Consolidations of Credit Cards                                               1
Consolidate debt to Prepare for our Baby                                          1
Australia                                                                         1
California or Bust                                                                1
Credit and Vehicle Refinance                                                      1
bill pay off loan                                                                 1
Name: title, Length: 18881, dtype: int64

# Categorical columns

The home_ownership, verification_status, emp_length, and term columns each contain a few discrete categorical values. We should encode these columns as dummy variables and keep them.

It seems like the purpose and title columns do contain overlapping information but we'll keep the purpose column since it contains a few discrete values. In addition, the title column has data quality issues since many of the values are repeated with slight modifications (e.g. Debt Consolidation and Debt Consolidation Loan and debt consolidation).

We can use the following mapping to clean the emp_length column:

"10+ years": 10
"9 years": 9
"8 years": 8
"7 years": 7
"6 years": 6
"5 years": 5
"4 years": 4
"3 years": 3
"2 years": 2
"1 year": 1
"< 1 year": 0
"n/a": 0
We erred on the side of being conservative with the 10+ years, < 1 year and n/a mappings. We assume that people who may have been working more than 10 years have only really worked for 10 years. We also assume that people who've worked less than a year or if the information is not available that they've worked for 0. This is a general heuristic but it's not perfect.

Lastly, the addr_state column contains many discrete values and we'd need to add 49 dummy variable columns to use it for classification. This would make our Dataframe much larger and could slow down how quickly the code runs. Let's remove this column from consideration.

In [14]:
mapping_dict = {
    "emp_length": {
        "10+ years": 10,
        "9 years": 9,
        "8 years": 8,
        "7 years": 7,
        "6 years": 6,
        "5 years": 5,
        "4 years": 4,
        "3 years": 3,
        "2 years": 2,
        "1 year": 1,
        "< 1 year": 0,
        "n/a": 0
    }
}
loans = loans.drop(["addr_state", "title"], axis=1)
loans["int_rate"] = loans["int_rate"].str.rstrip("%").astype("float")
loans["revol_util"] = loans["revol_util"].str.rstrip("%").astype("float")
loans = loans.replace(mapping_dict)

# Dummy variables

Let's now encode the home_ownership, verification_status, purpose, and term columns as dummy variables so we can use them in our model.

In [18]:
cat_columns = ["home_ownership", "verification_status", "purpose", "term"]
dummy_df = pd.get_dummies(loans[cat_columns])
loans = pd.concat([loans, dummy_df], axis=1)
loans = loans.drop(cat_columns, axis=1)

In [20]:
loans.columns

Index(['loan_amnt', 'int_rate', 'installment', 'emp_length', 'annual_inc',
       'loan_status', 'dti', 'delinq_2yrs', 'inq_last_6mths', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'last_credit_pull_d',
       'home_ownership_MORTGAGE', 'home_ownership_NONE',
       'home_ownership_OTHER', 'home_ownership_OWN', 'home_ownership_RENT',
       'verification_status_Not Verified',
       'verification_status_Source Verified', 'verification_status_Verified',
       'purpose_car', 'purpose_credit_card', 'purpose_debt_consolidation',
       'purpose_educational', 'purpose_home_improvement', 'purpose_house',
       'purpose_major_purchase', 'purpose_medical', 'purpose_moving',
       'purpose_other', 'purpose_renewable_energy', 'purpose_small_business',
       'purpose_vacation', 'purpose_wedding', 'term_ 36 months',
       'term_ 60 months'],
      dtype='object')